* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

::-webkit-scrollbar {
  display: none;
}


@font-face {
  font-family: 'Poppins-Black';
  src: url('../ui/public/fonts/Poppins-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('../ui/public/fonts/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('../ui/public/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../ui/public/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('../ui/public/fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('../ui/public/fonts/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../ui/public/fonts/Poppins-SemiBold.ttf') format('truetype');
}

body {
  font-family: 'Poppins', sans-serif;
}